*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.banner-main{

    height: 100vh;
    background-image: url('/pictures/40ea9c34484ddc8969e1f3d17da621bd.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    display: grid;
    grid-template-rows: 50px 1fr;
    

  
  
    

    


    .banner{
        grid-row: 2/3;
        grid-column: 1/2;

        display: grid;
        grid-template-columns:  40px 1fr 1fr ;


        .banner-letter-main{
            grid-row: 1/2;
            grid-column: 2/3;

            display: grid;
            grid-template-rows: 1fr 1fr 1fr 40px;
          

      

           

         

         
           .letter-design{

            grid-row: 2/3;
            grid-column: 1/2;

           
           
            display: grid;
            align-items: center;
           
           


           
            p{  
                line-height: 60px;
                font-size: 4rem;
                // color: rgb(221, 214, 214);
                color: rgb(255, 255, 255);
            }
           


           }

           .lorem{

            grid-row: 3/4;
            grid-column: 1/2;


            i{  
            
                font-style: normal;
                color: rgb(188, 183, 183);
            }

           }

          

           .footer{
           grid-row: 4/5;
           grid-column: 1/2;

           
           i{
            color: white;
           }

            p{
                color: white;
            }
           }

         
        }

        .my-picture{
       
          
         

            p{
             color: white;
            }

        }   



        

    
    
    }
 


    .navbar-main{
        grid-row: 1/2;

        position: fixed;
        overflow: hidden;
      
        height: 50px;
        width: 100vw;
      

 

        display: grid;
        grid-template-columns: 40px 60px 1fr auto 80px;

   
     
        


       
        
       
       

        .logo-container{
            grid-row: 1/2;
            grid-column: 2/3;

            display: grid;
            place-items: center;
            grid-auto-flow: column;
            grid-column-gap: 2px;
            
       
            

            i{  
                font-weight: bolder;
                font-style: normal;
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
        }

        .icon-container{
            grid-row: 1/2;
            grid-column: 5/6;

            display: grid;
            place-items: center;
            

            i{
                color: white;
            }
        }


        .menu-container{
            padding: 0;
            margin: 0;
            grid-row: 1/2;
            grid-column: 4/5;
           
            list-style: none;

            display: grid;
            grid-auto-flow: column;
          
           align-items: center;
           justify-items: end;
           
           
            
           
        
    
            grid-auto-columns: 120px;


           #nav-button{
                color: rgb(255, 255, 255);
                text-decoration: none;
           }

           #nav-button:hover{
            color: red;
           
       }

        }



    }

}